<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><%= message %></div>
    <h1>Create Product Page</h1>
    <h1><a href="/product/displayproducts">Display Products</a></h1>
    <form action="/product/submitproduct" method="post">
        <input type="text" placeholder="Name of Product" name="productName">
        <input type="text" placeholder="Price of Product" name="productPrice">
        <input type="text" placeholder="Quantity of Product" name="productQuantity">
        <input type="text" placeholder="Image of Product" name="productImage">
        <button>Add Product</button>
    </form>
    
</body>
</html>