<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Display Products Page</h1>
    <% for( let index = 0; index < allProducts.length; index++ ) { %>
        <h1><%= allProducts[index].productName %></h1>
        <img width="100px" height="100px" src="<%=allProducts[index].productImage%>" alt="">
        <button>Edit</button>
        <button>Delete</button>
    <% } %>
</body>
</html>